<div class="row">
  <div class="col-md-4">
    <h1 class="text-center">Meu perfil</h1>
    <hr>
    <img class="mx-auto d-block" src="{{user.imagePath}}" alt="profile" width="160px" height="160px"><br>
    <h3>{{user.name}}</h3>
    <p><i class="fa fa-envelope" aria-hidden="true"></i> {{user.email}}</p>
    <p><i class="fa fa-map-marker-alt" aria-hidden="true"></i> {{user.address}}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i> {{user.phone}}</p>
    <button class="btn btn-primary" type="button" name="button" data-toggle="modal" data-target="#ServicesModal">Agendar Serviço</button>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
          <li class="nav-item">
           <a class="nav-link active" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="true">Meus Pedidos</a>
          </li>
        </ul>
      </div>
      <div class="card-body scroll">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="orders-tab">
            {{# each orders }}
              <div class="card">
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    {{# each this.items }}
                      <li class="list-group-item">
                        {{ this.qty }} | {{ this.item.name }}
                        <span class="badge badge-success float-right m-2">R${{ this.price }}</span>
                      </li>
                    {{/each}}
                  </ul>
                </div>
                <div class="card-footer">
                  <strong>Total: R${{ this.cart.totalPrice }}</strong>
                </div>
              </div>
              <br>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="modal fade" id="ServicesModal" tabindex="-1" role="dialog" aria-labelledby="ServicesModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ServicesModalLabel">Formulário para Agendamento de Serviços</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

        <div class="row col-md-8" id="formulario">
    			<div class="form-group" id="divCliente">
    				<label for="nomeCliente">Nome Cliente: </label>
    				<input id="nomeCliente" type="text" class="form-control boxSizeDefault" placeholder="Digite o nome do Cliente"></input>
    			</div>
    			<div class="form-group" id="divPet">
    				<label for="nomePet">Nome Pet: </label>
    				<input class="form-control" id="nomePet" placeholder="Nome do Pet"></input>
    			</div>
    			<div class="form-group" id="divCliente">
    				<label for="contatoCliente">Fone Contato: </label>
    				<input id="contatoCliente" type="text" class="form-control boxSizeDefault" placeholder="(XX) XXXXX-XXXX"></input>
    			</div>
    			<div class="form-group">
    				<label for="consultaTipo">Tipo do Serviço: </label>
    				<select class="form-control" id="select">
    					<option value="1">Banho e tosa</option>
    					<option value="2">Consulta com Veterinario</option>
    					<option value="3">Adestramento</option>
    					<option value="4">Castração</option>
    				</select>
    			</div>
          <div class="form-group" id="divData">
            <label for="calendario">Data: </label>
  			    <input type="date" class="form-control boxSizeDefault" id="calendario" placeholder="Data da Consulta">
  			    <div class="input-group-addon">
  				    <span class="glyphicon glyphicon-th"></span>
  		    	</div>
    			</div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="/service" type="button"class="btn btn-success">Agenda</a>
        <button id="btn-checkout" type="button" class="btn btn-primary" data-dismiss="modal">Agendar</button>
        <button id="btn-close-modal" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
