<div class="row justify-content-center align-items-center">
  <div class="col-md-4 col-offset-4">
    <h1>Editando {{product.name}}</h1>

    <form action="/user/product/edit/{{product.id}}" method="post">

      <div class="form-group">
        <label for="productName">Nome do Produto</label>
        <input type="text" id="productName" name="productName" class="form-control" value="{{product.name}}">
      </div>

      <div class="form-group">
        <label for="productDesc">Descrição do Produto</label>
        <input type="text" id="productDesc" name="productDesc" class="form-control" value="{{product.description}}">
      </div>

      <div class="form-group">
        <label for="productPrice">Valor do Produto</label>
        <input type="number" id="productPrice" name="productPrice" class="form-control"  value="{{product.price}}">
      </div>

      <div class="form-group">
        <label for="productStored">Quantidade do Produto</label>
        <input type="number" id="productStored" name="productStored" class="form-control" value="{{product.stored}}">
      </div>

      <div class="form-group">
        <label for="productImage">Imagem do produto (url)</label>
        <input type="url" id="productImage" name="productImage" class="form-control" value="{{product.imagePath}}">
      </div>

      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="/user/profile" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
