{{# each products }}
  <div class="row">
    {{# each this }}
      <div class="col-sm-6 col-md-4">
        <div class="card prod">
          <div class="card-header text-center">
            <h5 class="card-title">{{ this.name }}</h5>
          </div>
          <img class="card-img-top" src="{{ this.imagePath }}" alt="...">
          <div class="card-body">
            <p class="card-text">{{ this.description }}</p>
          </div>
          <div class="card-footer clearfix">
            <div class="price float-left">R${{ this.price }}</div>
            <a href="/add-to-cart/{{this._id}}" class="btn btn-success float-right" role="button">Comprar</a>
          </div>
        </div>
        <br>
      </div>
    {{/each}}
  </div>
{{/each}}

<div class="input-group date" data-provide="datepicker" id="divData">
    <input type="text" class="form-control boxSizeDefault" id="datepicker" placeholder="Data da Consulta">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
